# Copy this to .env.local and fill in values
GEMINI_API_KEY=AI....

# Get this from partykit.dev after deploying
NEXT_PUBLIC_PARTYKIT_HOST=proname.username.partykit.dev

# For local development
NEXT_PUBLIC_PARTYKIT_HOST=localhost:1999